<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add-user">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="find-enterprises">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Enterprises</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="find-applications">
      <ion-icon name="square"></ion-icon>
      <ion-label>Applications</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
